.container {
    font-family: 'Dosis', sans-serif;
}

.loader {
    margin: auto;
    border: 16px solid #D3D3D3;
    width: 120px;
    height: 120px;
    border-top-color: #00C4D3;
    border-bottom-color: #FFBE91;
    border-radius: 50%;
    animation: rotatethecircle 1s infinite linear;
}
h1 {
    text-align: center;   
}

@keyframes rotatethecircle {
    0% {
        transform: rotate(0deg);
    }
    
    100% {
        transform: rotate(360deg);
    }
}